<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

	<title th:text="#{deleteRoles.title}">Title</title>

	<script th:inline="javascript">
		$(document).ready(function() {

			// Need to change to allow multiple checkbox selection
			$("#postRolesForm").submit(function(event) {
//				$("select[multiple] option").prop("selected", "selected");
				var checked = $('#roles').find('input:checked');
				$('#roles').find('input:checked').each(function() {
					var id = $(this).prop('id');
					var value = $(this).prop('value');
					var selectedRoles = $("#selectedRoles");
					var optionString = '<option value="' + value + '" selected="selected">' + id + "</option>";
					selectedRoles.append(optionString);
					console.log('id='+id);
					console.log('value='+value);
				});
				return;
			});

			$('#submit').click(function(){
			     /* when the submit button in the modal is clicked, submit the form */
			    $('#postRolesForm').submit();
			});			
		});
	</script>

</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<div class="row">
	    <div class="col-md-1"></div>
		<div class="col-md-10"><h1 th:text="#{deleteRoles.title}">Delete</h1></div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>
		
	<div class="row">
	    <div class="col-md-1"></div>
		<div class="col-md-10" th:text="#{deleteRoles.message}"></div>
	</div>
	<form id="postRolesForm" th:object="${rolesData}" action="#" th:action="@{/admin/deleteRole}" method="post"> 
		<select id="selectedRoles" class="select optional item-hide" multiple="multiple" th:field="*{selectedRoles}" size="1"></select>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<ul id="roles" class="no-bullets">
					<li th:each="role : ${rolesData.allRoles}">
						<input th:id="${role.key}" type="checkbox" class="margin-right-5" th:value="${role.value}" th:text="${role.key}"></input>
					</li>
				</ul>	
			</div>
		</div>
		
		<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                Confirm Delete
		            </div>
		            <div class="modal-body">
		                Are you sure you want to delete the checked roles?
		            </div>
		
		  			<div class="modal-footer">
		            	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		            	<a href="#" id="submit" class="btn btn-success success">Delete</a>
		        	</div>
		    	</div>
			</div>
		</div>
			
	    <div class="row">
		    <div class="col-md-1"></div>
			<div class="col-md-10">
				<input type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-default"></input>
			</div>
		</div>
	</form>
</body>
</html>
