<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- <link rel="icon" type="image/png" href="/werewolf.png"></link> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

	<title th:text="#{editUser.title}">Title</title>

	<script th:inline="javascript">
	$(document).ready(function() {

		// This is for selecting a user from the list and then populating
		// the other form with it.
		$("#selectUserBtn").click(function(event) {
			var userId = $("#userSelect").val();
			
			$.getJSON("rolesJson/" + userId, function(data) {
				$.each(data.selectedRoles, function(key, value) {
				    $('#'+value).attr('checked','checked');
				});
			});
			
			//make the AJAX request, dataType is set to json
			//meaning we are expecting JSON data in response from the server
			$.getJSON("getUser/" + userId, function(data) {
				$.each(data, function(key, val) {
					if (key == "accountNonExpired" || 
					    key == "accountNonLocked" ||
					    key == "credentialsNonExpired" ||
					    key == "enabled") {
						setBoolean(key, val);						
					}
					var element =$("#"+key);
					if (element != null) {
						element.val(val);
					}
				});
			});

			event.preventDefault();
		});

		$("#editUserForm").submit(function(event) {
//			$("select[multiple] option").prop("selected", "selected");

			var checked = $('#roles').find('input:checked');
			$('#roles').find('input:checked').each(function() {
				var id = $(this).prop('id');
				var value = $(this).prop('value');
				var selectedRoles = $("#selectedRoles");
				var optionString = '<option value="' + value + '" selected="selected">' + id + "</option>";
				selectedRoles.append(optionString);
				console.log('id='+id);
				console.log('value='+value);
			});
			return;
		});
		
		$( window ).load(function() {
            $('.check:button').toggle(function(){
		        $('input:checkbox').removeAttr('checked');
		    });

			var userId = getUserId();
			if (userId == null) {
				userId = "newUser"
			}
			$.getJSON("rolesJson/" + userId, function(data) {
				$.each(data.selectedRoles, function(key, value) {
				    $('#'+value).attr('checked','checked');
				});
			});
		});		
		
		$("#clearBtn").click(function(event) {
			$('#selectedRoles')
		    .find('option')
		    .remove()
		    .end();
			
            $('.check:button').toggle(function(){
		        $('input:checkbox').removeAttr('checked');
		    });
			$('#roles').find('input:checked').each(function() {
				$(this).removeAttr('checked');
			});
			
			$('#id').val("");
			$('#username').val("");
			$('#firstName').val("");
			$('#lastName').val("");
			$('#password').val();
			$('#email').val("");
			setBoolean("accountNonExpired", false); 
			setBoolean("accountNonLocked", false);
			setBoolean("credentialsNonExpired", false);
			setBoolean("enabled", false);
		});
		
	});
</script>
<script type="text/javascript">
  function setBoolean(key, value) {
	var element = $("#" + key);
	if (element != null) {
		element.prop("checked", value);
	}
  }
  
  function getUserId() {
    pairs = document.URL.split('?').pop();
   	p = pairs.split('=');
   	if (typeof p[1] == 'undefined') {
   		p[1] = null;
   	}
    return p[1];
  }
</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{editUser.title}">Update</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>
	
	<form id="editUserForm" th:object="${userAdminDto}" action="#" th:action="@{/admin/editUserData}" method="post">
      	<input type="hidden" id="id" th:field="*{selectedUser.id}"></input>
	    
	    <select id="selectedRoles" class="select optional item-hide" multiple="multiple" th:field="*{selectedUser.authorities}" size="1"></select>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
	        	<fieldset>
	        		<legend th:text="#{editUser.editInfo}">Edit</legend>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<div class="dropdown">
				    <!--Default buttons with dropdown menu-->
				    <div class="btn-group">
		        		<button type="button" class="btn btn-default" th:text="#{editUser.selectUser}">Action</button>
				        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
				        <ul class="dropdown-menu scrollable-menu-long">
		        		    <li th:each="user : *{userList}" th:value="${user.id}">
		            			<a th:href="@{/admin/getUserData(userId=${user.id})}" th:text="${user.displayName}">test</a>
				           	</li>
				        </ul>
		    		</div>
				</div> 		    
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editUser.userName}">User</label>
			</div>
			<div class="col-md-9">
				<input id="username" name="username" class="input-margin" th:field="*{selectedUser.username}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editUser.firstName}">First</label>
			</div>
			<div class="col-md-9">
				<input id="firstName" class="input-margin" th:field="*{selectedUser.firstName}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editUser.lastName}">Last</label>
			</div>
			<div class="col-md-9">
				<input id="lastName" class="input-margin" th:field="*{selectedUser.lastName}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editUser.password}">Pass</label>
			</div>
			<div class="col-md-9">
				<input type="password" id="password" class="input-margin" th:field="*{password}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editUser.verifyPassword}">Pass</label>
			</div>
			<div class="col-md-9">
				<input type="password" id="password" class="input-margin" th:field="*{verifyPassword}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin">Email</label>
			</div>
			<div class="col-md-9">
				<input id="email" class="input-margin" th:field="*{selectedUser.email}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin">Authorities</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">			
				<ul id="roles" class="no-bullets">
					<li th:each="role : *{allRoles}">
						<input th:id="${role.key}" type="checkbox" class="margin-right-5" th:value="${role.value}" th:text="${role.key}"></input>
					</li>				
				</ul>	
			</div>
		</div>
		
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin">Account non-expired</label>
			</div>
			<div class="col-md-8">
				<input type="checkbox" id="accountNonExpired" th:field="*{selectedUser.accountNonExpired}"></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin">Account non-locked</label>
			</div>
			<div class="col-md-8">
				<input type="checkbox" id="accountNonLocked" class="input-margin" th:field="*{selectedUser.accountNonLocked}"></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin">Credentials non-expired</label>
			</div>
			<div class="col-md-8">
				<input type="checkbox" id="credentialsNonExpired" class="input-margin" th:field="*{selectedUser.credentialsNonExpired}"></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin">Enabled</label>
			</div>
			<div class="col-md-8">
				<input type="checkbox" id="enabled" class="input-margin" th:field="*{selectedUser.enabled}"></input>
			</div>
		</div>
		<div class="row">		  
			<div class="col-md-1"></div>      	
			<div class="col-md-1">
				<input type="submit" class="btn btn-default" th:value="#{editUser.submitBtn}" ></input>
			</div>
			<div class="col-md-1">
				<input type="button" class="btn btn-default" id="clearBtn" th:value="#{editUser.clearBtn}" ></input>
			</div>
		</div>
	</form>
</body>
</html>
