<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"></link>
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"></link>
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"></link>
	<link rel="manifest" href="/manifest.json"></link>
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"></link>
	<meta name="theme-color" content="#ffffff"></meta>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
   
	<script type="application/javascript" src="/ckeditor/ckeditor.js"></script> <!--  th:src="@{/webjars/ckeditor/4.5.8/standard/ckeditor.js}"></script> -->
	<script src="/ckeditor/gameserver/js/sample.js"></script>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/css/samples.css"></link>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/toolbarconfigurator/lib/codemirror/neo.css"></link>

    <title th:text="#{editMessageBoard.title}">Title</title>
    
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {		
			if ($("#isFirstBoard").val() == "true") {
				$("#selectBoardDiv").addClass("hide");
			}
			
			if ($("#isOwner").val() == "true") {
	  			var users = $("#users")[0].value;
	 			var userList = null;
	 			if (users.length > 0) {
	 				userList = jQuery.parseJSON(users);
	 			}
	 			
				$.each(userList, function(i, item) {
					var name = item["userName"];
					var id = item["userId"];
					var rowDiv = $('<div/>');
					var access;
					if (item["permission"] == "PERMISSION_OWNER") {
						access = "Owner";
					} else if (item["permission"] == "PERMISSION_READ_WRITE") { 
						access = "Read/Write";
					} else if (item["permission"] == "PERMISSION_READ") {
						access = "Read";
					} else {
						// in this case item["itemPermission"] == "NO_PERMISSION"
						access = "No Access";
					}
					var button = $('<input id="'+id+'" type="button" class="permission" onclick="modifyPermission(&quot;'+id+'&quot;)"/>')
						.prop("value", access);
					button.appendTo(rowDiv);
					var spacerDiv = $('<div class="small-spacer"/>');
					spacerDiv.appendTo(rowDiv);
					var label = $('<label class="input-margin"/>')
						.text(name);
					label.appendTo(rowDiv);
					rowDiv.appendTo("#permissionList")
				}); 			
			} else {
				$("#permissionLabel").addClass("hide");
				$("#permissionList").addClass("hide");
			}
		});	
		
		$("#editMessageBoardForm").submit(function(event) {
			var permissionMap = {};
			var buttonMap = {};
			var buttonData = [];
			$('.permission').each(function(i, btn) {
			    var value = $(this).attr("value");
			    var id = $(this).attr("id");
			    
			    item = {};
			    item["id"] = id;
			    item["value"] = value;
				
				buttonData.push(item);
				
				buttonMap[id] = value;
			});
			console.log(buttonData);

			var usersObject = JSON.parse($("#users").val());
			$.each(usersObject, function(i, item) { 
				var userId = item["userId"];
				var newPermission = buttonMap[userId];
				if (newPermission == "Owner") {
					item["permission"] = "PERMISSION_OWNER";
				} else if (newPermission == "Read/Write") {
					item["permission"] = "PERMISSION_READ_WRITE";
				} else if (newPermission == "Read") {
					item["permission"] = "PERMISSION_READ";
				} else {
					item["permission"] = "NO_ACCESS";
				}
			});
			var newUserString = JSON.stringify(usersObject)
			$("#users").val(newUserString);
			
			$("#descriptorList").val(null);
		});

        $("#changeView").click(function() {
        	var cvValue = $("#changeView").attr("value");
        	if (cvValue == "View as HTML") {
        		var data = CKEDITOR.instances.editor.getData();
        		$("#viewContainer").html(data);
        		$("#viewContainer").removeClass("hide");
        		$("#editorContainer").addClass("hide");
        		$("#changeView").attr("value", "Edit");
        		if ($("#isOwner").val() == "true") {
        			$("#permissionLabel").addClass("hide");
        			$("#permissionList").addClass("hide");
        		}
        		$("#submitBtn").addClass("hide");
        	} else {
        		$("#viewContainer").addClass("hide");
        		$("#editorContainer").removeClass("hide");
        		$("#changeView").attr("value", "View as HTML");
        		if ($("#isOwner").val() == "true") {
        			$("#permissionLabel").removeClass("hide");
	        		$("#permissionList").removeClass("hide");
        		}
	        	$("#submitBtn").removeClass("hide");
        	}
        });
     
	});		
	</script>   

	<script th:inline="javascript">
		function modifyPermission(buttonId) {
			var button = $("#"+buttonId);
			var selection = button.attr("value");
			if (selection == "No Access") {
				button.prop("value", "Read");
			} else if (selection == "Read") {
				button.prop("value", "Read/Write"); 
			} else if (selection == "Read/Write") { 
				button.prop("value", "Owner");
			} else {
				button.prop("value", "No Access");
			}
		}
		
	</script>
</head>
<body id="main">
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<br></br>
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{editMessageBoard.title}">Updated</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>
 
	<form id="editMessageBoardForm" th:object="${editMessageBoardDto}" action="#" th:action="@{/admin/editMessageBoard}" method="post">
		<input type="hidden" id="users" th:field="*{users}"></input>
		<input type="hidden" id="isOwner" th:field="*{isOwner}"></input>
		<input type="hidden" id="isFirstBoard" th:field="*{isFirstBoard}"></input>
		<input type="hidden" id="selectedMessageBoardId" th:field="*{selectedMessageBoardId}"></input>
		<input type="hidden" id="forwardingUrl" th:field="*{forwardingUrl}"></input>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<hr></hr>
			</div>
		</div>
		
		<div class="row">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-11">
					<button id="messageBoardStatus" type="button" class="input-margin btn btn-info dropdown-toggle" aria-expanded="false" th:text="${feFeedback.userStatus}"></button>
				</div>
			</div>
		</div>
		<br></br>
		
		<div id="selectBoardDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<div class="dropdown">
				    <!--Default buttons with dropdown menu-->
				    <div class="btn-group">
		        		<button type="button" class="btn btn-default" th:text="#{editMessageBoard.selectMessageBoard}">Action</button>
				        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
				        <ul class="dropdown-menu">
		        		    <li th:each="descriptor : *{messageBoardList}" th:value="${descriptor.id}">
		            			<a th:href="@{/admin/editMessageBoard/}+${descriptor.id}" th:text="${descriptor.name}">test</a>
				           	</li>
				        </ul>
		    		</div>
				</div> 		    
			</div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin" th:text="#{editMessageBoard.name}">Name</label>
			</div>
			<div class="col-md-8">
				<input id="pageTitle" class="input-margin fullWidth" th:field="*{messageBoard.name}"></input>
			</div>
		</div>
	

		<div id="editorContainer" class="folio-margin">
			<div class="grid-container">
				<div class="grid-width-100">
					<textarea id="editor" th:field="*{messageBoard.description}"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div id="viewContainer" class="hide folio-margin"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<input type="button" id="changeView" class="basic-margin" value="View as HTML"></input>
			</div>
		</div>
			
		<div id="permissionLabel" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin" th:text="#{editMessageBoard.setPermissions}">Set</label>
			</div>
		</div>
		
		<div id="permissionDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-body" style="max-height: 175px;overflow-y: scroll;">
						<span id="permissionList"></span>
					</div>
				</div>	
			</div>
		</div>				
						
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<input id="submitBtn" class="basic-margin" type="submit" value="Submit" />
			</div>
		</div>

	</form>

	<script>
	<!-- ckeditor js code -->
		initSample();
	</script>

</body>
</html>
