<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

	<style type="text/css">
	.accordion-heading { background-color:#DDD; }
	.accordion-heading:hover { background-color:#000;
	  color:#FFF;
	  -webkit-transition: all 0.5s ease-in-out;
	     -moz-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
	          transition: all 0.5s ease-in-out; }
	.accordion-heading > a { color:#FFF; 
	   text-decoration:none; 
	   text-transform:uppercase; }
	.smaller-panel {
		margin-bottom: 10px !important;
		margin-top: 5px !important;
	}
	</style>    
    <title th:text="#{campaignHome.title}">Title</title>

	<script th:inline="javascript">
		$(document).ready(function() {
			$( window ).load(function() {
				// placeholder
			});
		});		
	</script>   
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div>
				<h1 id="campaignHome" th:text="#{campaignHome.title}">Home</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</div>
		</div>
	</div>
	<br></br>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionidone">
			  <div class="accordion-group">
			    <div class="smaller-panel accordion-heading panel panel-default">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionidone" href="index.html#one">
					   	<span class="left-padding-10">Check messages</span>
					</a>
			    </div>
			    <div id="one" class="collapse">
			      <div class="accordion-inner outline">
			        <div>Test</div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionidtwo">
			  <div class="accordion-group">
			    <div class="smaller-panel accordion-heading panel panel-default">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionidtwo" href="index.html#two">
				    	<span class="left-padding-10">Edit module</span>
				    </a>
			    </div>
			    <div id="two" class="collapse">
			      <div class="accordion-inner outline">
			        <div>Test</div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionid">
			  <div class="accordion-group">
			    <div class="smaller-panel accordion-heading panel panel-default">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionid" href="index.html#three">
				    	<span class="left-padding-10">Test</span>
				    </a>
			    </div>
			    <div id="three" class="collapse">
			      <div class="accordion-inner outline">
			        <div>Test</div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="accordion" id="accordionid">
			  <div class="accordion-group">
			    <div class="smaller-panel accordion-heading panel panel-default">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionid" href="index.html#four">
				    	<span class="left-padding-10">Test</span>
				    </a>
			    </div>
			    <div id="four" class="collapse">
			      <div class="accordion-inner outline">
			        <div>Test</div>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

</body>
</html>
