<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/css/style.css" type="text/css" th:href="@{/css/style.css}"></link>	
	<link rel="stylesheet" href="/css/font-awesome.css" type="text/css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" th:src="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
    
	<script type="application/javascript" src="/ckeditor/ckeditor.js"></script> <!--  th:src="@{/webjars/ckeditor/4.5.8/standard/ckeditor.js}"></script> -->
	<script src="/ckeditor/gameserver/js/sample.js"></script>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/css/samples.css"></link>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/toolbarconfigurator/lib/codemirror/neo.css"></link>
	
    <title th:text="#{editCampaign.title}">Title</title>
    
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			if ($("#isOwner").val() == "true") {
	  			var users = $("#users")[0].value;
	 			var userList = null;
	 			if (users.length > 0) {
	 				userList = jQuery.parseJSON(users);
	 			}
	 			
				$.each(userList, function(i, item) {
					var name = item["userName"];
					var id = item["userId"];
					var rowDiv = $('<div class="row"/>');
					var spacerDiv = $('<div class="col-md-1"/>');
					spacerDiv.appendTo(rowDiv);
					var buttonDiv = $('<div class="col-md-1"/>');
					var access;
					if (item["permission"] == "PERMISSION_OWNER") {
						access = "Owner";
					} else if (item["permission"] == "PERMISSION_GAMEMASTER") { 
						access = "Game Master";
					} else if (item["permission"] == "PERMISSION_PLAYER") {
						access = "Player";
					} else {
						// in this case item["itemPermission"] == "NO_PERMISSION"
						access = "No Access";
					}
					var button = $('<input id="'+id+'" type="button" class="permission" onclick="modifyPermission(&quot;'+id+'&quot;)"/>')
						.prop("value", access);
					button.appendTo(buttonDiv);
					buttonDiv.appendTo(rowDiv);
					var labelDiv = $('<div class="col-md-3"/>');
					var label = $('<label class="input-margin"/>')
						.text(name);
					label.appendTo(labelDiv);
					labelDiv.appendTo(rowDiv);
					
					rowDiv.appendTo("#permissionList")
				}); 			
			} else {
				$("#permissionLabel").addClass("hide");
				$("#permissionList").addClass("hide");
			}
		});	
		
		$("#editCampaignForm").submit(function(event) {
			var permissionMap = {};
			var buttonMap = {};
			var buttonData = [];
			$('.permission').each(function(i, btn) {
			    var value = $(this).attr("value");
			    var id = $(this).attr("id");
			    
			    item = {};
			    item["id"] = id;
			    item["value"] = value;
				
				buttonData.push(item);
				
				buttonMap[id] = value;
			});
			console.log(buttonData);

			var usersObject = JSON.parse($("#users").val());
			$.each(usersObject, function(i, item) { 
				var userId = item["userId"];
				var newPermission = buttonMap[userId];
				if (newPermission == "Owner") {
					item["permission"] = "PERMISSION_OWNER";
				} else if (newPermission == "Game Master") {
					item["permission"] = "PERMISSION_GAMEMASTER";
				} else if (newPermission == "Player") {
					item["permission"] = "PERMISSION_PLAYER";
				} else {
					item["permission"] = "NO_ACCESS";
				}
			});
			var newUserString = JSON.stringify(usersObject)
			$("#users").val(newUserString);
		});
	});	
	
	function modifyPermission(buttonId) {
		var button = $("#"+buttonId);
		var selection = button.attr("value");
		if (selection == "No Access") {
			button.prop("value", "Owner");
		} else if (selection == "Owner") {
			button.prop("value", "Game Master"); 
		} else if (selection == "Game Master") { 
			button.prop("value", "Player");
		} else {
			button.prop("value", "No Access");
		}
	}	
</script>   
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<br></br>
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{editCampaign.title}">Create</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>

	<br></br>
	<form id="editCampaignForm" th:object="${campaignDto}" action="#" th:action="@{/gamemaster/editCampaign}" method="post">
		<input id="users" type="hidden" th:field="*{users}"></input>
	 	<input id="isOwner" type="hidden" th:field="*{isOwner}"></input>
	 	<input id="campaigns" type="hidden" th:field="*{campaignList}"></input>
	 	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<div class="dropdown">
				    <!--Default buttons with dropdown menu-->
				    <div class="btn-group">
		        		<button type="button" class="btn btn-default" th:text="#{editCampaign.selectCampaign}">Action</button>
				        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
				        <ul class="dropdown-menu">
 	        		    	<li th:each="campaign : *{campaignList}" th:value="${campaign.id}">
		            			<a th:href="@{/gamemaster/editCampaign(campaignId=${campaign.id})}" th:text="${campaign.name}">test</a>
				           	</li>  
				        </ul>
		    		</div>
				</div> 		    
			</div>
		</div>
	 	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin">Campaign name</label>
			</div>
			<div class="col-md-8">
				<input class="input-margin" th:field="*{campaign.name}"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin">Description</label>
			</div>
		</div>
		<div class="input-margin">
			<div class="grid-container">
				<div class="grid-width-100">
					<textarea id="editor" th:field="*{campaignFolio.content}"></textarea>
				</div>
			</div>
		</div>
		
		<div id="permissionLabel" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin" th:text="#{editFolio.setPermissions}">Set</label>
			</div>
		</div>
		
		<span id="permissionList"></span>		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
           		<input class="basic-margin" type="submit" value="Submit" />
			</div>
		</div>
	</form>
	
	<script>
		<!-- ckeditor js code -->
		initSample();
	</script>
	
</body>
</html>
