<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
    
	</head>      
	<body>
		<div th:fragment="navbar">
		    <nav class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="/shared/menu" th:text="#{login.appnamne}">Project name</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <div sec:authorize="hasRole('ROLE_ADMIN')">
		            <ul class="nav navbar-nav">
		              <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog"></i><span class="left-padding-5" th:text="#{menu.item.admin}">Ad</span><span class="caret"></span></a>
		                <ul class="dropdown-menu" role="menu">
		                  <li><a href="/admin/getUserData" th:text="#{menu.item.editUsers}">Edit</a></li>
		                  <li><a href="/admin/editMessageBoard" th:text="#{menu.item.editMessageBoard}">Msg</a></li>
		                  <!--  <li><a href="/admin/createRole" th:text="#{menu.item.createRoles}">Create</a></li>
		                  <li><a href="/admin/deleteRole" th:text="#{menu.item.deleteRoles}">Delete Roles</a></li> -->
		                  <li><a href="/admin/deleteCampaign" th:text="#{menu.item.deleteCampaign}">Delete</a></li>
		                  <li><a href="/admin/emailSettings" th:text="#{menu.item.emailSettings}">Email</a></li>
		                  <li><a href="/admin/exportCampaign" th:text="#{exportCampaign.title}">Export</a></li>
		                  <li><a href="/admin/importCampaign" th:text="#{importCampaign.title}">Import</a></li>
		                  <li><a href="/admin/seedData" th:text="#{menu.item.seedData}">Seed</a></li>
		                  <li><a href="/admin/getSettings" th:text="#{menu.item.settings}">App Settings</a></li>
		                  <li><a href="/test/testMail">Test Mail</a></li>		                  
		                  <li><a href="/shared/viewMessageBoard" th:text="#{menu.item.viewMessageBoard}">Msg</a></li>
		                </ul>
		              </li>
		            </ul>
		          </div>
		          <div sec:authorize="hasRole('ROLE_GAMEMASTER')">
		            <ul class="nav navbar-nav">
		              <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-book"></i><span class="left-padding-5" th:text="#{menu.item.gamemaster}">Gm</span><span class="caret"></span></a>
		                <ul class="dropdown-menu" role="menu">
		                  <li><a href="/gamemaster/campaignHome" th:text="#{menu.item.campaignHome}">Camp Home</a></li>
		                  <li><a href="#" th:text="#{menu.item.checkNotifications}">Notifications</a></li>
		                  <li><a th:if="${session.campaignName}" href="/shared/editBook" th:text="#{editBook.title}">edit b</a></li>
		                  <li><a href="/gamemaster/editCampaign" th:text="#{menu.item.editCampaign}">Create Camp</a></li>
		                  <li><a th:if="${session.campaignName}" href="/shared/editFolio" th:text="#{menu.item.editFolio}">Create T</a></li>
		                  <li><a href="/shared/selectCampaign" th:text="#{menu.item.selectCampaign}">Select Camp</a></li>
		                  <li><a th:if="${session.campaignName}" href="/shared/viewFolio" th:text="#{viewFolio.title}">view</a></li>
		                </ul>
		              </li>
		            </ul>
		          </div>
		          <div sec:authorize="hasRole('ROLE_USER')">
		            <ul class="nav navbar-nav">
		              <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-male"></i><span class="left-padding-5" th:text="#{menu.item.player}">Playa</span><span class="caret"></span></a>
		                <ul class="dropdown-menu" role="menu">
		                  <li><a href="/shared/selectCampaign" th:text="#{menu.item.joinCampaign}">Select Camp</a></li>
		                  <li><a href="#">Select Character</a></li>
		                  <li><a th:if="${session.campaignName}" href="/shared/editFolio" th:text="#{menu.item.editFolio}">Create T</a></li>
		                  <li><a th:if="${session.campaignName}" href="/shared/viewFolio" th:text="#{viewFolio.title}">view</a></li>
		                </ul>
		              </li>
		            </ul>
		          </div>
		          <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_GAMEMASTER','ROLE_USER')">
		            <ul class="nav navbar-nav">
		              <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><span class="left-padding-5">My Account</span><span class="caret"></span></a>
		                <ul class="dropdown-menu" role="menu">
		                  <li><a href="/shared/resetPassword" th:text="#{menu.item.resetPassword}">Select Camp</a></li>
		                  <li><a href="/shared/myAccount" th:text="#{menu.item.myAccount}">Select Camp</a></li>
		                </ul>
		              </li>
		            </ul>
		          </div>
		          <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_GAMEMASTER','ROLE_USER')">
		          	<ul class="nav navbar-nav">
		              <li class="dropdown">
		          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-info-sign"></i><span class="left-padding-5" th:text="#{menu.item.about}">My Account</span><span class="caret"></span></a>
		                <ul class="dropdown-menu" role="menu">
		          	  	  <li><span th:text="#{menu.item.version} + #{versionNumber}"></span></li>
		                </ul>
					  </li>
		          	</ul>
		          </div>
		          <div class="navbar-form navbar-right">
		            <span sec:authorize="isAnonymous()"><a class="login-logout" data-toggle="modal" href="#myModal" th:text="#{login.text}">Login</a></span>
		            <span sec:authorize="isAuthenticated()"><a class="login-logout" th:href="@{/logout}" th:text="#{logout.text}">Log out</a></span>
		          </div>
		        </div><!--/.navbar-collapse -->
		      </div>
		      <div class="nav-banner">
			  	<span th:if="${session.campaignName != null}"  class="nav-banner" th:text="#{menu.item.selectedCampaign} + ${session.campaignName}">Campaign: </span>
			  	<span th:if="${session.campaignName == null}"  class="nav-banner"></span>
		      </div>
		    </nav>
		</div>		    
	</body>    
</html>