<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
  
	<title th:text="#{login.title}">Title</title>	
	
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
		<div th:if="${param.error}"><i class="fa fa-icon-exclamation-sign fa-2x"></i><h2 style="color:red">Invalid user name and/or password.</h2></div>
        <h1><span th:text="#{login.title}"></span></h1>
        <p><span th:text="#{login.description}"></span></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button"><span th:text="#{login.learnMore}"></span> &raquo;</a></p>

		<div class="container">
		  <div class="row">
		    <div class="modal fade" id="myModal" role="dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">x</button>
		          <h3><span th:text="#{login.toGameserver}"></span></h3>
				</div>
				<div class="modal-body">
				  <form th:action="@{/login}" method="post" name="login_form">
		        	<p><input type="text" class="span3" name="username" id="username" placeholder="Login"></input></p>
				    <p><input type="password" class="span3" name="password" placeholder="Password"></input></p>
				    <p><button type="submit" class="btn btn-primary"><span th:text="#{login.signIn}"></span></button>
		        	  <a href="#"><span th:text="#{login.forgotPassword}"></span></a>
				    </p>
				  </form>
		        </div>
		        <div class="modal-footer">
		          <span th:text="#{login.newToGameserver}"></span>
		          <a href="#" th:href="@{/public/createAccount}" class="btn btn-primary"><span th:text="#{login.register}"></span></a>
		        </div>
		      </div>
			</div>
		  </div>
		</div>
      </div>
    </div>
	
	
<!-- 
	<fieldset>
	  	<legend th:text="#{login.page.title}">Hello</legend>
		<div th:if="${param.error}">Invalid user name and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<form th:action="@{/login}" method="post">
			<div>
				<label th:text="#{login.page.username}"> User: </label><input type="text" th:class="basic-margin" name="username" value="admin" />
			</div>
			<div>
				<label th:text="#{login.page.password}"> Pwd: </label><input type="password" class="basic-margin" name="password" value="admin" />
			</div>
			<div>
				<input type="submit" value="Sign In" />
			</div>
		</form>
		<br></br>
		<a th:href="@{/public/createaccount}" th:text="#{login.page.createAccount}" th:class="basic-margin">New account</a><br></br>
		<a th:href="@{/public/bootstrapTest}" th:class="basic-margin">Test bootstrap</a>
	</fieldset>
 -->	
</body>
</html>