<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

	<title th:text="#{changeEmail.title}">Title</title>

<script th:inline="javascript">
	$(document).ready(function() {
		// placeholder
	});
</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{changeEmail.title}">Update</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>
	
	<form id="changeEmailForm" th:object="${changeEmailDto}" action="#" th:action="@{/shared/changeEmail}" method="post">
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{changeEmail.email}">Pass</label>
			</div>
			<div class="col-md-9">
				<input id="email" class="input-margin" th:field="*{email}" ></input>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
           		<input class="basic-margin" type="submit" value="Submit" />
			</div>
		</div>
	</form>
</body>
</html>
