<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
    
	<script type="application/javascript" src="/ckeditor/ckeditor.js"></script> <!--  th:src="@{/webjars/ckeditor/4.5.8/standard/ckeditor.js}"></script> -->
	<script src="/ckeditor/gameserver/js/sample.js"></script>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/css/samples.css"></link>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/toolbarconfigurator/lib/codemirror/neo.css"></link>

    <title th:text="#{createCampaign.title}">Title</title>
    
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			
		});	

		$("#removeDialog").dialog({
  	    	autoOpen: false,
	  	    modal: true,
	  	  	position: { my: "left top", at: "right top", of: "#tagsBtn", collision: "flip flip" }
  		});

		$("#addDialog").dialog({
  	    	autoOpen: false,
	  	    modal: true,
	  	  	position: { my: "left top", at: "right top", of: "#tagsBtn", collision: "flip flip" },
			"width": 460
  		});
		
		$(function() {
			$( "#selectable" ).selectable();
		});
	});		


	</script>   

	<script>
		function removeFolio(bookId, folioId, folioName) {
			$("#removeDialog").text("Remove the folio " + folioName + "?");
	
			$("#removeDialog").dialog({
				buttons : {
			    	"Confirm" : function() {
			    		var action = "/gameserver/shared/removeFolioFromBook/" + folioId + "/" + bookId;
			    		window.location.href = action;
			    		$("#removeFolioForm").attr("action", action);
			    		$("#removeFolioForm").submit();
			        },
			        "Cancel" : function() {
			        	$(this).dialog("close");
			        }
			    }
			});
	
			$("#removeDialog").dialog("open");			
		}
		
		function addFolio() {
			$("#addDialog").empty();

			var unassignedTagsField = $("#unassignedTags");
			var unassignedTagsText = unassignedTagsField.val();
			var tags = jQuery.parseJSON(unassignedTagsText);
			var newText = '<ol id="selectable">' + getTags(tags) + '</ol>';
			$("#addDialog").append(newText);
			$("#addDialog").dialog("open").find('ol').selectable({selected: function(event,ui) {
                  var className = ui.selected.getAttribute("class-name");
                  var tagId = ui.selected.getAttribute("tag-id");
                  var addTagForm = $("#addTagToFolioForm");
                  var folioId = $("#folioId").val();
                  var action = $("#addTagToFolioForm").attr("action") + folioId + "/" + className + "/" + tagId;
				  addTagForm[0].setAttribute("action", action);
				  addTagForm.submit();
            }});;	
		}
		
		function createAddTagElement(currentTag, unassignedtags, listString) {
			if (currentTag.children.length > 0) {				
				$.each(currentTag.children, function(index, childTag) {
					listString += createAddTagElement(childTag, unassignedtags, listString);
				});
			}
			if (currentTag.id != "Root") {
				var newBit = '<li class="ui-widget-content" class-name="'+currentTag['name']+'" tag-id="'+currentTag['id']+'">'+currentTag['displayName']+'</li>';
				listString += newBit;
			}
			return listString;
		}
		
		function getFolio(folioId) {
			var action = $("#getFolioForm").attr("action");
			action += folioId;
			document.getElementById("getFolioForm").setAttribute("action", action);
			document.getElementById("getFolioForm").submit();
		}
		
		function selectFolio() {
			window.location = "/shared/selectFolio?from=edit";
		}
		
	</script>
</head>
<body id="main">
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<br></br>
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{editBook.title}">Updated</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>

	<form id="addFolioToBookForm" action="/shared/addFolioToBook/" method="post"></form>
	<form id="removeFolioFromBookForm" action="/shared/removeFolioFromBook" method="post"></form>
	<form id="getBookForm" action="/shared/getBook/" method="get"></form>
	<form id="createBookForm" th:object="${bookCreator}" action="#" th:action="@{/shared/editBook}" method="post">
		<input id="campaignId" type="hidden" th:field="*{book.campaignId}"></input>
		<input id="selectedFolios" type="hidden" th:field="*{selectedFolios}"></input>
		<input id="bookId" type="hidden" th:field="*{book.id}"></input>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<hr></hr>
			</div>
		</div>

		<div class="row">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-9">
					<button id="folioStatus" type="button" class="input-margin btn btn-info dropdown-toggle" aria-expanded="false" th:text="${feFeedback.userStatus}"></button>
				</div>
			</div>
		</div>
			
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editBook.selectBook}">Select</label>
			</div>
			<div class="col-md-8">
				<div class="btn-group">
  					<button type="button" class="btn btn-default" th:utext="#{editBook.selectBook}" th:onclick="'selectBook();'">Select Folio</button>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div id="removeDialog" title="Confirmation Required">
  					Remove folio from book?
				</div>	
		 	</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div id="addDialog" style="display:none;" title="Add book"></div>	
		 	</div>
		</div>


		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editBook.pageTitle}">Name</label>
			</div>
			<div class="col-md-8">
				<input id="bookTitle" class="input-margin" th:field="*{book.title}"></input>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label th:text="#{editBook.folios}">Folios</label>
			</div>
			<div class="col-md-10">
				<div class="btn-group input-margin" role="group">
  					<button id="foliosBtn" class="btn btn-default dropdown-toggle tags-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    					Folios<span class="caret"></span>
  					</button>
	  				<ul class="dropdown-menu tags-dropdown-menu">
  					</ul>
				</div>			 
			</div>
		</div>		 
 <!--
		<div class="input-margin">
			<div class="grid-container">
				<div class="grid-width-100">
					<textarea id="editor" th:field="*{folio.content}"></textarea>
				</div>
			</div>
		</div>
-->	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<input class="basic-margin" type="submit" value="Submit" />
			</div>
		</div>

	</form>

<script>
<!-- ckeditor js code -->
	initSample();
</script>

</body>
</html>
