<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

	<title th:text="#{resetPassword.title}">Title</title>

<script th:inline="javascript">
	$(document).ready(function() {
		$('#adminReset').click(function(){
		     /* when the submit button in the modal is clicked, submit the form */
		    $('#resetPasswordForm').attr('action','/shared/adminResetPassword'); 
		    $('#resetPasswordForm').submit();
		});	
	});
</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>
	
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{resetPassword.title}">Update</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>
	
	<form id="resetPasswordForm" th:object="${resetPasswordDto}" action="#" th:action="@{/shared/resetPassword}" method="post">
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{resetPassword.currentPassword}">Pass</label>
			</div>
			<div class="col-md-9">
				<input type="password" id="currentPassword" class="input-margin" th:field="*{currentPassword}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{resetPassword.newPassword}">Pass</label>
			</div>
			<div class="col-md-9">
				<input type="password" id="newPassword" class="input-margin" th:field="*{newPassword}" ></input>
			</div>
		</div>
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{resetPassword.verifyPassword}">Pass</label>
			</div>
			<div class="col-md-9">
				<input type="password" id="verifyPassword" class="input-margin" th:field="*{verifyPassword}" ></input>
			</div>
		</div>
		
		<div class="modal fade" id="confirm-reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                Confirm Password Reset
		            </div>
		            <div class="modal-body">
		                Are you sure you want to reset your password? You will receive an email with a temporary password if you opt to proceed.
		            </div>
		
		  			<div class="modal-footer">
		            	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		            	<a href="#" id="adminReset" class="btn btn-success success">Reset</a>
		        	</div>
		    	</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<a id="adminResetLink" href="#"  data-toggle="modal" data-target="#confirm-reset" th:text="#{resetPassword.requestAdminReset}"></a> 
			</div>
		</div>		
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
           		<input class="basic-margin" type="submit" value="Submit" />
			</div>
		</div>
	</form>
</body>
</html>
