<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link> <!--  th:href="@{/css/style.css}"></link> -->
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css"></link> <!-- th:href="@{/css/font-awesome.css}"></link> -->
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	
	<title th:text="#{menu.item.selectCampaign}">Title</title>
	
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			$('.cb').change(function() {
				var newList = "";
				$('.cb').each(function() {
					if (this.checked) {
						if (newList != "") {
							newList = this.name + "," + newList;
						} else {
							newList = this.name;
						}
					}
				});
				alert(newList);
			})

		});		
	});	
	</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>

	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{menu.item.selectCampaign}">Select</h1>
		</div>
	</div>
	<form id="updateUserForm" th:object="${selectCampaignDto}" action="#" th:action="@{/user/selectCampaign}" method="post">
		<div class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin" th:text="#{selectCampaign.campaigns}">Camps</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">			
				<ul>
				  <li class="no-bullets" th:each="campaign : *{accessableCampaigns}">
				    <input type="radio" th:field="*{selectedCampaignId}" th:value="${campaign.id}" th:name="${campaign.name}"/>
				    <label th:for="${#ids.prev('selectedCampaignId')}" th:text="${campaign.name}">Campaign Name</label>
				  </li>
				</ul>			
			</div>
		</div>
		
		<div sec:authorize="hasRole('ROLE_USER')">
			<div class="row">		        	
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<label class="input-margin" th:text="#{selectCampaign.requestAccess}">Camps</label>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4">			
					<ul>
					  <li class="no-bullets" th:each="campaign : *{inaccessableCampaigns}">
					    <input type="checkbox" class="cb" th:value="${campaign.id}" th:name="${campaign.name}"></input>
					    <label th:text="${campaign.name}">Campaign Name</label>
					  </li>
					</ul>			
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
           		<input type="submit" value="Submit" />
			</div>
		</div>		
	</form>
</body>
</html>