<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link> <!--  th:href="@{/css/style.css}"></link> -->
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css"></link> <!-- th:href="@{/css/font-awesome.css}"></link> -->
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	
	<title th:text="#{menu.item.selectCampaign}">Title</title>
	
	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			if ($("#accessableCampaigns").val() == "") {
				$("#selectCampaignLabel").addClass("hide");
				$("#selectCampaignDiv").addClass("hide");
			}
		
			if ($("#inacessableCampaigns").val() == "") {
				$("#requestCampaignDiv").addClass("hide");
			}
			
			$("#selectCampaignForm").submit(function(event) {
				var form = $("#selectCampaignForm");
				var action = form.attr("action");
				var asType = $("#asType").val();
				var newAction = action + "/" + asType
				form.attr("action", newAction);
			});
		});		
	});	
	
	function viewCampaign(id) {
		window.location.replace("/shared/viewCampaignInfo/"+$("#asType").val()+"?campaignId="+id);
	}
	</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>

	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1 th:text="#{menu.item.selectCampaign}">Select</h1>
		</div>
	</div>
	
		<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="error-message" th:if="${feFeedback.error}" th:text="${feFeedback.error}">Error.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<span class="info-message" th:if="${feFeedback.info}" th:text="${feFeedback.info}">Info.</span>
		</div>
	</div>
	
	<form id="selectCampaignForm" th:object="${selectCampaignDto}" action="#" th:action="@{/shared/selectCampaign}" method="post">
		<input id="accessableCampaigns" type="hidden" th:field="*{accessableCampaigns}"></input>
		<input id="inacessableCampaigns" type="hidden" th:field="*{inaccessableCampaigns}"></input>
		<input id="asType" type="hidden" th:field="*{asType}"></input>
		
		<div id="selectCampaignLabel" class="row">		        	
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin" th:text="#{selectCampaign.campaigns}">Camps</label>
			</div>
		</div>

		<div id="selectCampaignDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">			
				<ul>
				  <li class="no-bullets" th:each="campaign : *{accessableCampaigns}">
				    <input type="radio" th:field="*{selectedCampaignId}" th:value="${campaign.id}" th:name="${campaign.name}"/>
				    <label th:for="${#ids.prev('selectedCampaignId')}" th:text="${campaign.name}">Campaign Name</label>
				  </li>
				</ul>			
			</div>
		</div>
		
		<div sec:authorize="hasRole('ROLE_USER')" id="requestCampaignDiv">
			<div class="row">		        	
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<label class="input-margin" th:text="#{selectCampaign.requestAccess}">Camps</label>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4">			
					<ul>
					  <li class="no-bullets" th:each="campaign : *{inaccessableCampaigns}">
					    <input type="checkbox" class="cb" th:value="${campaign.id}" th:name="${campaign.name}"></input>
					    <span th:id="${campaign.id}" class="bold underline-pointer" th:text="${campaign.name}" th:onclick="'javascript:viewCampaign(\''+${campaign.id}+'\');'"></span>
					  </li>
					</ul>			
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
           		<input type="submit" value="Submit" />
			</div>
		</div>		
	</form>
</body>
</html>