<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf.png"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
   	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

	<script type="application/javascript" src="/ckeditor/ckeditor.js"></script> <!--  th:src="@{/webjars/ckeditor/4.5.8/standard/ckeditor.js}"></script> -->
	<script src="/ckeditor/gameserver/js/sample.js"></script>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/css/samples.css"></link>
	<link rel="stylesheet" type="text/css" href="/ckeditor/gameserver/toolbarconfigurator/lib/codemirror/neo.css"></link>

	<title th:text="#{viewFolio.title}">Title</title>

	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			var selectedTagsString = $("#selectedTags")[0].value;
			if (selectedTagsString.length > 0) {
				selectedTagList = jQuery.parseJSON(selectedTagsString);
				var listString = "";
				$.each(selectedTagList, function(i, item) {
					var name = item["name"];
					if (listString.length == 0) {
						listString = name;
					} else {
						listString += ", " + name;
					}
				});
				$("#tagList").text(listString);
			}
			
			if ($("#folioId").val() == "") {
				$("#printBtnDiv").addClass("hide");
				$("#copyBtnDiv").addClass("hide");
			}
			if ($("#forwardingUrl").val() == "/shared/viewFolio") {
				$("#returnBtn").addClass("hide");
			}
			if ($("#selectedTags").val() == "") {
				$("#tagsDiv").addClass("hide");
			}
			if ($("#titleText").val() == "") {
				$("#titleDiv").addClass("hide");	
			}
			if ($("#content").val() == "") {
				$("#contentLabel").addClass("hide");
				$("#contentDiv").addClass("hide");
			}
				
			$("#selectFolioBtn").click(function() { 
				window.location = "/shared/selectFolio?operation=view";
		  	});
			
			$("#returnBtn").click(function() {
				window.location = $("#forwardingUrl").val();
			});
			
	        $("#copyBtn").click(function(e) {
	        	e.preventDefault();
	        	var folioId = $("#folioId").val();
	        	$("#copyFolioForm").attr("action", "/shared/copyFolio/"+folioId);
	        	$("#copyFolioForm").submit();
	        });
		});
	});
	</script>	
	<script>
	    function print(editorName) {
	        var editor = CKEDITOR.instances[editorName];           
	        editor.execCommand('print');
	    }
	</script>
</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>

	<br></br>
	<br></br>
	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 th:text="#{viewFolio.title}">View</h1>
		</div>
	</div>

	<form id="copyFolioForm" action="#" th:action="@{/shared/copyFolio/}" method="get"></form>
	<form id="viewFolioForm" th:object="${folioDto}" action="#" th:action="@{/shared/viewFolio}" method="get">
		<input type="hidden" id="selectedTags" th:field="*{selectedTags}"></input>
		<input type="hidden" id="displayTags"></input>
		<input type="hidden" id="titleText" th:field="*{folio.title}"></input>
		<input type="hidden" id="content" th:field="*{folio.content}"></input>
		<input type="hidden" id="folioId" th:field="*{folio.id}"></input>
		<input type="hidden" id="forwardingUrl" th:field="*{forwardingUrl}"></input>
						
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="input-margin" th:text="#{editFolio.selectFolio}">Select</label>
			</div>
			<div class="col-md-8">
				<div class="btn-group">
  					<button id="selectFolioBtn" type="button" class="btn btn-default select-folio-btn" th:utext="#{editFolio.selectFolio}" >Select Folio</button>
				</div>				
			</div>
		</div>
 
		<div id="titleDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{viewFolio.folioTitle}">Ta</label>
			</div>
			<div class="col-md-8">
				<label class="input-margin fullWidth" th:text="*{folio.title}"></label>
			</div>
		</div>

		<div th:if="*{owners}" id="titleDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{viewFolio.folioOwners}">Ta</label>
			</div>
			<div class="col-md-8 input-margin">
				<span id="owners" th:text="*{owners}"></span>
			</div>
		</div>

		<div id="tagsDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{viewFolio.tags}">Ta</label>
			</div>
			<div class="col-md-8 input-margin">
				<span id="tagList" th:field="*{selectedtags}"></span>
			</div>
		</div>

		<div id="editorContainer" class="folio-margin hide">
			<div class="grid-container">
				<div class="grid-width-100">
					<textarea id="editor" class="ckeditor" th:field="*{folio.content}"></textarea>
				</div>
			</div>
		</div>

		<div id="printBtnDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<button type="button" onclick="print('editor')">
					<span class="glyphicon glyphicon-print" th:utext="#{viewFolio.print}"></span>
				</button>
			</div>
		</div>

		<div id="contentLabel" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="folio-margin" th:text="#{viewFolio.content}">Cont</label>
			</div>
		</div>
		<div id="contentDiv" class="row">
			<div class="col-md-1"></div>			
			<div class="col-md-11">
				<span th:utext="*{folio.content}"></span>
			</div>
		</div>
	 
		<div id="copyBtnDiv" class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<button id="copyBtn" class="basic-margin">
					<span class="glyphicon glyphicon-duplicate" th:utext="#{viewFolio.copy}"></span>
				</button>
			</div>
		</div>
	 
		<div class="row">
			<div class="col-md-1"></div>	
			<div class="col-md-8">
				<div class="btn-group submit">
  					<button type="button" id="returnBtn" class="btn btn-default" th:text="Return"></button>
				</div>				
			</div>
		</div>	 
	</form>	
</body>
</html>