<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/css/style.css" type="text/css" th:href="@{/css/style.css}"></link>	
	<link rel="stylesheet" href="/css/font-awesome.css" type="text/css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>

	<title th:text="#{selectFolio.title}">Title</title>

	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			// placeholder
		});
	});
	</script>	

</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>

	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 th:text="#{viewFolio.title}">View</h1>
		</div>
	</div>

	<form id="viewCampaignForm" th:object="${folio}" action="#" th:action="@{/shared/selectCampaign}" method="get">
						
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{viewFolio.folioTitle}">Ta</label>
			</div>
			<div class="col-md-8">
				<label class="input-margin fullWidth" th:text="*{folio.title}"></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="folio-margin" th:text="#{viewFolio.content}">Cont</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>			
			<div class="col-md-11">
				<span th:utext="*{content}"></span>
			</div>
		</div>
	 
	 		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
           		<input type="submit" value="Return to Select Campaign" />
			</div>
		</div>	
	</form>	
</body>
</html>