<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/werewolf-512.png"></link>
   	<link rel="stylesheet" href="/css/style.css" type="text/css" th:href="@{/css/style.css}"></link>	
	<link rel="stylesheet" href="/css/font-awesome.css" type="text/css" th:href="@{/css/font-awesome.css}"></link>
    <!-- Bootstrap & JQuery -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"></link>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="application/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>

	<title th:text="#{selectFolio.title}">Title</title>

	<script th:inline="javascript">
	$(document).ready(function() {
		$( window ).load(function() {
			var selectedTagsString = $("#selectedTags")[0].value;
			if (selectedTagsString.length > 0) {
				selectedTagList = jQuery.parseJSON(selectedTagsString);
				var listString = "";
				$.each(selectedTagList, function(i, item) {
					var name = item["name"];
					if (listString.length == 0) {
						listString = name;
					} else {
						listString += ", " + name;
					}
				});
				$("#tagList").text(listString);
			}
			
			$("#selectFolioBtn").click(function() { 
				window.location = "/shared/selectFolio?operation=view";
		  })			
		});
	});
	</script>	

</head>
<body>
	<div th:include="/public/navbar :: navbar"></div>

	<br></br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 th:text="#{viewFolio.title}">View</h1>
		</div>
	</div>

	<form id="viewFolioForm" th:object="${folioDto}" action="#" th:action="@{/shared/viewFolio}" method="get">
		<input type="hidden" id="selectedTags" th:field="*{selectedTags}"></input>
		<input type="hidden" id="displayTags"></input>
						
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{editFolio.selectFolio}">Select</label>
			</div>
			<div class="col-md-8">
				<div class="btn-group">
  					<button id="selectFolioBtn" type="button" class="btn btn-default select-folio-btn" th:utext="#{editFolio.selectFolio}" >Select Folio</button>
				</div>				
			</div>
		</div>
 
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{viewFolio.tags}">Ta</label>
			</div>
			<div class="col-md-8">
				<span id="tagList" class="input-margin" th:field="*{selectedtags}"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<label class="input-margin" th:text="#{viewFolio.content}">Cont</label>
			</div>
			<div class="col-md-8">
				<span th:utext="*{folio.content}"></span>
			</div>
		</div>
	 
	</form>	
</body>
</html>